.header-sub {
  position: relative;
  height: 52px;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background-color: #393E46;
    z-index: -1;
  } 
  /* .header-sub__row */
  &__row {
    display: flex;
    align-items: center;
  }
  /* .header-sub__item */
  &__item {}
  /* .header-sub__link */
  &__link {
    display: flex;
    align-items: center;
    img:nth-child(1) {
      width: 20px;
      height: 20px;
    }
    img:nth-child(3) {
      width: 12px;
      height: 12px;
      margin: 0 8px 0 16px;
    }
    span {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 14px;
      line-height: 52px;
      color: #fff;
      margin: 0 0 0 8px;
    }

  }
}
